<ion-view title="所有视频" id="page2">
  <ion-content ng-controller="FileTransferController" padding="true" class="has-header">
    <ion-list id="page2-list4">
      {{play_info}}
      <ion-item ng-repeat="(v_id,v_detail) in $storage track by v_id" class="item item-thumbnail-left">
        <img ng-src="{{v_detail.thumbnailUrl}}">
        <h2>{{v_detail.name}}</h2>
        <!--<p>{{video.download_url}}</p>-->
        <p>{{v_id}}</p>
        <p>{{v_detail.downloaded}}</p>

        <div class="row">
          <div class="col text-right">

            <!--<span>-->
              <!--<button ng-click="toggleDownloaded(v_id)" class="button button-dark"> 测试 </button>-->
            <!--</span>-->


            <span ng-show="!v_detail.downloaded">
              <button ng-click="startFileDownload(v_id)" class="button button-dark">
              下载
                <!--{{downloadProgress}}-->
             </button>

              <progress id="progressbar" max="100" value="{{ $storage[v_id].download_progress }}"> </progress>
              <div id="progressbarlabel">{{ $storage[v_id].download_progress }} %</div>

            </span>

            <!--<span>-->
            <span ng-show="v_detail.downloaded">
              <button ng-click="openFile($storage[v_id].file_location)" class="button button-dark">
              播放

             </button>
            </span>

          </div>
        </div>
      </ion-item>

    </ion-list>
  </ion-content>
</ion-view>
