<ion-view title="我的收藏" id="page3">
    <ion-content padding="true" class="has-header">
        <ion-list id="page3-list6">
          <ion-item ng-repeat="video in favorite_video_list" class="item item-thumbnail-left">
            <img ng-src="{{video.thumbnailUrl}}">
            <h2>{{video.title}}</h2>
            <p>best English songs for kids</p>

            <div class="row">
              <div class="col text-right">
                <button class="button button-dark">
                  下载
                </button>
              </div>
            </div>
          </ion-item>

        </ion-list>
    </ion-content>
</ion-view>



