<ion-view title="所有视频" id="page2">
  <ion-content padding="true" class="has-header">
    <ion-list id="page2-list4">

      <!--<ion-item ng-repeat="video in video_list">-->
        <!--{{video.Name}}-->
      <!--</ion-item>-->


      <ion-item ng-repeat="video in video_list" class="item item-thumbnail-left">
        <img ng-src="{{video.thumbnailUrl}}">
        <h2>{{video.title}}</h2>
        <p>Nine Inch Nails</p>

        <div class="row">
          <div class="col text-right">
            <button class="button button-dark">
              下载
            </button>
          </div>
        </div>
      </ion-item>

    </ion-list>
  </ion-content>
</ion-view>


<!--<div class="list">-->

  <!--<a class="item item-thumbnail-left" href="#">-->
    <!--<img src="cover.jpg">-->
    <!--<h2>Pretty Hate Machine</h2>-->
    <!--<p>Nine Inch Nails</p>-->
  <!--</a>-->

  <!--...-->

<!--</div>-->
