<ion-view title="所有视频" id="page2">
  <ion-content ng-controller="FileTransferController" padding="true" class="has-header">
    <ion-list id="page2-list4">
      {{play_info}}
      <ion-item ng-repeat="video in video_list" class="item item-thumbnail-left">
        <img ng-src="{{video.thumbnailUrl}}">
        <h2>{{video.name}}</h2>
        <p>best English songs for kids</p>

        <div class="row">
          <div class="col text-right">

            <span>
            <!--<span ng-show="!video.downloaded">-->
              <button ng-click="testFileDownload(video.download_url)" class="button button-dark">
              下载
                <!--{{downloadProgress}}-->
             </button>
              <progress id="progressbar" max="100" value="{{ downloadProgress }}"> </progress>
              <div id="progressbarlabel">{{ downloadProgress }} %</div>

            </span>

            <span>
            <!--<span ng-show="video.downloaded">-->
              <button ng-click="openFile(fileLocation)" class="button button-dark">
              播放

             </button>
            </span>

          </div>
        </div>
      </ion-item>

    </ion-list>
  </ion-content>
</ion-view>
